
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
ViewData.Model = @ViewData.Model
<br />
ViewData["a"] = @ViewData["a"]
<br />
ViewBag.b = @ViewBag.b
<br />
TempData["c"] = @TempData["c"]
<ul>
    @foreach (var item in ViewBag.Clients)
    {
        <li>@item.FirstName</li>
    }
</ul>